In [1]:
import pandas as pd

In [7]:
#데이터프레임은 2차원 배열
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ['1행', '2행', '3행']
col = ['1st', '2nd', '3rd']
df = pd.DataFrame(arr, index = idx, columns = col)
#판다스 데이터프레임 생성

df

    1st  2nd  3rd
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [44]:
print(df["1st"])
print("\n")
print(df[["1st","2nd","2nd"]])
print("\n")
print(df["3rd"]['1행'])
print("\n")
print(df.iloc[0])
print("\n")
print(df.loc['1행'])
print("\n")
'''
for i in df.loc['1행']:
    if i <= 2:
        pass
    else:
        print(i)
'''
print("\n")

df.loc['1행']<2
print(df.loc["1행"][df.loc['1행']<2])

print("\n")

b = df.loc["2행"]
b[1] = 11
print(df.loc["2행"])

df.loc["2행"][1] = 10


    
#type(df.loc['1행'])

1행    1
2행    4
3행    7
Name: 1st, dtype: int64


    1st  2nd  2nd
1행    1    2    2
2행    4   10   10
3행    7    8    8


3


1st    1
2nd    2
3rd    3
Name: 1행, dtype: int64


1st    1
2nd    2
3rd    3
Name: 1행, dtype: int64




1st    1
Name: 1행, dtype: int64


1st     4
2nd    11
3rd     6
Name: 2행, dtype: int64

C:\Users\hi\AppData\Local\Temp\ipykernel_9824\3548684596.py:26: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  b[1] = 11
C:\Users\hi\AppData\Local\Temp\ipykernel_9824\3548684596.py:29: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc["2행"][1] = 10
C:\Users\hi\AppData\Local\Temp\ipykernel_9824\3548684596.py:29: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.loc["2행"][1] = 10

In [49]:
arr = [
    {"첫번째":1,"두번째":2,"세번째":3},
    {"첫번째":4,"두번째":5,"세번째":6},
    {"첫번째":7,"두번째":8,"세번째":9}    
]

pd.DataFrame(arr, index = idx)

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [52]:
arr = {
    "첫번째":[1,4,7],
    "두번째":[2,5,8],
    "세번째":[3,6,9]
}

pd.DataFrame(arr, index = idx)

#행은 리스트에 만들고 열은 딕셔너리에 만들자

    첫번째  두번째  세번째
1행    1    2    3
2행    4    5    6
3행    7    8    9

In [ ]:
import numpy as np
arr = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

pd.DataFrame(arr,index = idx, columns=col)

    1st  2nd  3rd
1행    1    2    3
2행    4    5    6
3행    7    8    9